@media (min-width: 600px) {
  #carousal {
    height: 520px;
  }
}

@media (max-width: 600px) {
  #carousal {
    height: 400px;
  }
}
@media (max-width: 400px) {
  #carousal {
    height: 230px;
  }
}


