.view-more1,
.view-more2,
.view-more3 {
  background-color: #ffbd59;
  color: black;
  box-shadow: none !important;
}

@media screen and (min-width: 850px) {
  .ccmenu,
  .bcmenu,
  .pcmenu {
    padding-right: 5.5rem !important;
    padding-left: 5.5rem !important;
  }
}
